/* winbox.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    background-color: #f0f0f0;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
}

#content {
    padding: 20px;
    flex-grow: 1;
}

h2 {
    color: #333;
}

li {
    cursor: pointer;
    padding: 5px;
    list-style-type: none;
}

li:hover {
    background-color: #e0e0e0;
}
